/////////////// SASS VARIABLES ///////////////

@import "_variables.scss"; // All the variables to Import 

/////////////// SASS LIBRARIES ///////////////

@import "bourbon", "neat"; // Mixin & Grid Library

/////////////// MIXINS ///////////////

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($boxshadow) {
      -webkit-box-shadow:$boxshadow;
      -moz-box-shadow:$boxshadow;
      box-shadow:$boxshadow;
}

@mixin clearfix() {
    overflow: auto;
    zoom: 1;
}

/////////////// RESET ///////////////

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    font-size: 16px;
    cursor: default; 
  } 

h1, h2, h3, h4, h5, h6, p, blockquote, figure, ol, ul {
    margin: 0;
    padding: 0;
}

li {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

button {
	cursor: pointer;
}

button, input, textarea, select {
	outline:none;
	max-width: 100%; 
}

iframe {
	max-width:100%;
}

svg {
	display:block;
}

/////////////// FONTS ///////////////

@font-face {
    font-family: 'brandon_grotesquelight';
    src: url('../fonts/brandon_light-webfont.eot');
    src: url('../fonts/brandon_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandon_light-webfont.woff2') format('woff2'),
         url('../fonts/brandon_light-webfont.woff') format('woff'),
         url('../fonts/brandon_light-webfont.ttf') format('truetype'),
         url('../fonts/brandon_light-webfont.svg#brandon_grotesquelight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/////////////// GRID ///////////////

// Settings

$gutter: 0px;
$grid-columns: 12;

// Breakpoints

$mobile: 768px; 
$tablet: 768px; 
$screen: 992px; 
$bigScreen: 1200px; 

$mobileGrid: new-breakpoint(max-width 768px 12);
$tabletGrid: new-breakpoint(max-width 992px 12);

.row { @include outer-container($globalMaxWidth); }

.sidebar { @include span-columns(3); margin-bottom:$globalMargin; @include media($mobile) { display: none; } }

.col-1 { @include span-columns(1); @include media($mobileGrid) { @include span-columns(12); } }
.col-2 { @include span-columns(2); @include media($mobileGrid) { @include span-columns(12); } }
.col-3 { @include span-columns(3); @include media($mobileGrid) { @include span-columns(12); } }
.col-4 { @include span-columns(4); @include media($mobileGrid) { @include span-columns(12); } }
.col-5 { @include span-columns(5); @include media($mobileGrid) { @include span-columns(12); } }
.col-6 { @include span-columns(6); @include media($mobileGrid) { @include span-columns(12); } }
.col-7 { @include span-columns(7); @include media($mobileGrid) { @include span-columns(12); } }
.col-8 { @include span-columns(8); @include media($mobileGrid) { @include span-columns(12); } }
.col-9 { @include span-columns(9); @include media($mobileGrid) { @include span-columns(12); } }
.col-10 { @include span-columns(10); @include media($mobileGrid) { @include span-columns(12); } }
.col-11 { @include span-columns(11); @include media($mobileGrid) { @include span-columns(12); } }
.col-12 { @include span-columns(12); @include media($mobileGrid) { @include span-columns(12); } }

/////////////// IMAGES ///////////////

.logo { height: 20px; }

/////////////// CLASSES ///////////////

body { font-family: 'brandon_grotesquelight', serif; }

p { margin-bottom: $globalMargin;}

.margin { margin-bottom: $globalMargin; }

/////////////// CANVASS ///////////////

.comment { 
	&.Yes {
		.user { color: $colour1; }
		.level { color: $colour1; }
		.vote-colour { fill: $colour1; }
	}
	&.No {
		.user { color: $colour2; }
		.level { color: $colour2; }
		.vote-colour { fill: $colour2; }
	}
}

.commentWrap { border-bottom: 1px solid #eee; padding-bottom: $globalMargin; padding-top: $globalMargin; padding-right: 40px; text-align: justify; } 
.commentWrap:hover { background-color: #fbfbfb; cursor: pointer; } 
.commentTitle { margin-bottom: 2px; }
.replyArea { margin-top: 15px; }

/////////////// COMMENT MENU ///////////////

.comment-menu {
	border-bottom: 1px solid #eee;
	@include clearfix();
	.button {
		float:left;
		width: 33.33333333333333%;
		padding: 12px 0px;
		border-right: 1px solid #eee;
		cursor: pointer;
		&.arrow { padding: 15px 0px 16px 0px; }
		svg {
			margin: 0 auto;
			opacity: 0.3;
		}
		&:last-child { border-right: none; }
		&:hover { 
			background-color: #fbfbfb;
			svg { opacity: 1; }
		}
	}
} 

hr { margin-bottom: 0; }


/////////////// BOOTSTRAP OVERIDES ///////////////

.navbar { @include border-radius(0); border-bottom: 0;}











