<!DOCTYPE html>
<html ng-app="yvn">
<head lang="en">
    <meta charset="UTF-8">
    <title>Yes Vs No</title>

    <!-- Style sheets -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-2.1.4.js"></script>
    
    <!-- Angular -->
    <script src="js/angular.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- App -->
    <script src="app/app.js"></script>
    
    <!-- Home -->
    <script src="app/home/home-controller.js"></script>

    <!-- Canvass -->
    <script src="app/canvass/canvass-controller.js"></script>
    
    	<!-- Comments -->
    	<script src="app/canvass/comments/comments-factory.js"></script>
    	
    
</head>

<header>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
			    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				    <span class="sr-only">Toggle navigation</span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
			    </button>
		    	<a class="navbar-brand" href="#">Yes vs No</a>
		    </div>
	
	    	<!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			
				<ul class="nav navbar-nav">
					<li class="active"><a ui-sref="home">Home<span class="sr-only">(current)</span></a></li>
					<li ><a ui-sref="canvass">Canvass<span class="sr-only">(current)</span></a></li>
				</ul>
				
				<ul class="nav navbar-nav navbar-right">
			        <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
				        Username<span class="caret"></span>
				    </a>
				        <ul class="dropdown-menu" role="menu">
					        <li><a href="#">Sign In</a></li>
					        <li><a href="#">Sign Out</a></li>
					        <li class="divider"></li>
					        <li><a href="#">Profile</a></li>
				        </ul>
			        </li>
			    </ul>
				    
				<form class="navbar-form navbar-right" role="search">
				    <div class="form-group">
					    <input type="text" class="form-control" placeholder="Search">
				    </div>
				    <button type="submit" class="btn btn-default">Submit</button>
			    </form>
			    
		    </div><!-- /.navbar-collapse -->
	  	</div><!-- /.container-fluid -->
	</nav>
</header>

<body>
	
	<ui-view></ui-view>

<!-- Home -->

<script type="text/ng-template" id="/home.html">
	<div class="container">
	<h1 class="margin">{{ title }}</h1>
	</div>
</script>

<!-- Canvass -->

<script type="text/ng-template" id="/canvass.html">
<div class="container">
	
	<h1 class="margin">{{ title }}</h1>
	
	<div class="margin" ng-repeat="comment in comments | orderBy:'-commentPoints' ">
		<h4>{{ comment.userName }} -  <strong>{{ comment.userPoints }}</strong></h4>
		<div>{{ comment.userComment }} -  <strong>{{ comment.commentPoints }}</strong></div>
		<div>{{ comment.userVote }}</div>
		<div class="btn-group" role="group" aria-label="...">
			<button type="button" class="btn btn-default">Reply</button>
			<button type="button" class="btn btn-default" ng-click="commentUp(comment)">Up</button>
			<button type="button" class="btn btn-default" ng-click="commentDown(comment)">Down</button>
		</div>
	</div>

	<form ng-submit="addComment()">
		<div class="form-group">
			<input class="form-control" type="text" placeholder="Name" ng-model="userName"></input>
		</div>
		<div class="form-group">
			<textarea class="form-control" rows="4" placeholder="Comment" ng-model="userComment"></textarea>
		</div>
		<div class="form-group">
			<div class="btn-group" role="group" aria-label="...">
				<button type="button" class="btn btn-default" ng-click="userVote = 'Yes'">Yes</button>
				<button type="button" class="btn btn-default" ng-click="userVote = 'No'">No</button>
				<button type="button" class="btn btn-default" ng-click="userVote = 'Maybe'">Maybe</button>
			</div>
		</div>
		
		<div class="form-group">
			<button type="submit" class="btn btn-default">Add Comment</button>
		</div>
	</form>
	
</div>
</script>
	
</body>

</html> 