/////////////// SASS VARIABLES ///////////////

$globalMaxWidth: 100%;
$globalMargin: 20px; 

/////////////// COLOURS ///////////////

$bodyBackground: #1A1A1A;
$menuBackground:#222222;
$canvassBackground: #1E1E1E;
$fontColour: #ffffff;
$neutral: #aaaaaa; // Grey
$colour1: #007985; // Blue
$colour2: #922857; // Maroon

$commentBorder: #292929;
$replyMenuBorder: #3C3C3C;

$buttonColour:#9C9C9C;

/////////////// GRAPHS ///////////////

$votePlotZeroLine: #9E9E9E;

$votePlotHeight: 250px; 
