/////////////// SASS VARIABLES ///////////////

@import "_variables.scss"; // All the variables to Import 

/////////////// SASS LIBRARIES ///////////////

@import "bourbon", "neat"; // Mixin & Grid Library

/////////////// MIXINS ///////////////

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($boxshadow) {
      -webkit-box-shadow:$boxshadow;
      -moz-box-shadow:$boxshadow;
      box-shadow:$boxshadow;
}

@mixin clearfix() {
    overflow: auto;
    zoom: 1;
}

/////////////// RESET ///////////////

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    font-size: 14px;
    cursor: default;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;   
  } 

h1, h2, h3, h4, h5, h6, p, blockquote, figure, ol, ul {
    margin: 0;
    padding: 0;
}

li {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

button {
	cursor: pointer;
}

button, input, textarea, select {
	outline:none;
	max-width: 100%; 
}

iframe {
	max-width:100%;
}

svg {
	display:block;
}

/////////////// HELPER CLASSES ///////////////

.pull-left { float: left;}
.pull-right { float: right; }
.clearfix { clear: both; }

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

/////////////// FONTS ///////////////

@font-face {
    font-family: 'brandon_grotesquelight';
    src: url('../fonts/brandon_light-webfont.eot');
    src: url('../fonts/brandon_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandon_light-webfont.woff2') format('woff2'),
         url('../fonts/brandon_light-webfont.woff') format('woff'),
         url('../fonts/brandon_light-webfont.ttf') format('truetype'),
         url('../fonts/brandon_light-webfont.svg#brandon_grotesquelight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/////////////// GRID ///////////////

// Settings

$gutter: 0px;
$grid-columns: 12;

// Breakpoints

$mobile: 768px; 
$tablet: 768px; 
$screen: 992px; 
$bigScreen: 1200px; 

$mobileGrid: new-breakpoint(max-width 768px 12);
$tabletGrid: new-breakpoint(max-width 992px 12);

.row { @include outer-container($globalMaxWidth); }

.sidebar { @include span-columns(3); margin-bottom:$globalMargin; @include media($mobile) { display: none; } }

.col-1 { @include span-columns(1); @include media($mobileGrid) { @include span-columns(12); } }
.col-2 { @include span-columns(2); @include media($mobileGrid) { @include span-columns(12); } }
.col-3 { @include span-columns(3); @include media($mobileGrid) { @include span-columns(12); } }
.col-4 { @include span-columns(4); @include media($mobileGrid) { @include span-columns(12); } }
.col-5 { @include span-columns(5); @include media($mobileGrid) { @include span-columns(12); } }
.col-6 { @include span-columns(6); @include media($mobileGrid) { @include span-columns(12); } }
.col-7 { @include span-columns(7); @include media($mobileGrid) { @include span-columns(12); } }
.col-8 { @include span-columns(8); @include media($mobileGrid) { @include span-columns(12); } }
.col-9 { @include span-columns(9); @include media($mobileGrid) { @include span-columns(12); } }
.col-10 { @include span-columns(10); @include media($mobileGrid) { @include span-columns(12); } }
.col-11 { @include span-columns(11); @include media($mobileGrid) { @include span-columns(12); } }
.col-12 { @include span-columns(12); @include media($mobileGrid) { @include span-columns(12); } }

/////////////// LAYOUT ///////////////

body {
	background-color: $bodyBackground;
}

.app-wrapper {
	margin: 0 auto;
	width: 1280px;
}

 .menu-view {
	 min-height: 100vh;
	 width: 33.33333%;
	 float: left;
	 background-color: $menuBackground;
 }

.canvass-view { 
	min-height: 100vh;
	width: 66.666666%;
	float: left;
	background-color: $canvassBackground;
 }
 
.content { padding-top: 50px; }

/////////////// IMAGES ///////////////

.logo { height: 20px; }

/////////////// TEXT ///////////////

body { font-family: 'brandon_grotesquelight', serif; color: $fontColour; }

p { margin-bottom: $globalMargin;}

h1 {
	font-weight: 200;
}

/////////////// MARGINS ///////////////

.margin { margin-bottom: $globalMargin; }

/////////////// BUTTONS ///////////////

.vote-toggle { 
	.yes-button { 
		background-color: $colour1; 
		opacity: 0.9;
		&.No { padding: 7px 0px; color: $colour1; }
		&:hover { opacity: 1; }
	}
	.no-button { 
		background-color: $colour2; 
		opacity: 0.9;
		&.Yes { padding: 7px 0px; color: $colour2; }
		&:hover { opacity: 1; }
	}
	.neutral-button { background-color: $neutral; }
	.yes-button, .no-button { 
		padding: 7px 29px; display: inline-block; margin-right: 0px; color: white; font-size: 21px; cursor: pointer;
		transition: padding 0.2s linear, color 0.2s linear; 
	}
}

/////////////// DYNAMIC COLOURS ///////////////

.Yes-Background { fill: $colour1; background-color:$colour1; }
.No-Background { fill: $colour2; background-color:$colour2; }
.Nuetral-Background { fill: $neutral; background-color:$neutral; }

/////////////// CANVASS ///////////////

.canvass {
	.content {
		padding: 0px 77px;
	}
}

.comment { 
	&.Yes {
		.user { color: $colour1; }
		.level { color: $colour1; }
		.vote-colour { fill: $colour1; }
	}
	&.No {
		.user { color: $colour2; }
		.level { color: $colour2; }
		.vote-colour { fill: $colour2; }
	}
	&.Neutral {
		.user { color: $neutral; }
		.level { color: $neutral; }
		.vote-colour { fill: $neutral; }
	}
}

.commentWrap { //border-bottom: 1px solid $commentBorder; 
padding-bottom: $globalMargin; padding-top: $globalMargin; padding-right: 40px; } 
.commentWrap:hover { cursor: pointer; } 
.commentTitle { margin-bottom: 5px; }
.replyArea { margin-top: 15px; }

/////////////// COMMENT MENU ///////////////

.comment-menu {
	border-bottom: 1px solid #eee;
	@include clearfix();
	.button {
		float:left;
		width: 33.33333333333333%;
		padding: 12px 0px;
		border-right: 1px solid #eee;
		cursor: pointer;
		&.arrow { padding: 15px 0px 16px 0px; }
		svg {
			margin: 0 auto;
			opacity: 0.3;
		}
		&:last-child { border-right: none; }
		&:hover { 
			background-color: #fbfbfb;
			svg { opacity: 1; }
		}
	}
} 

.comment-border {
	border-bottom: 1px solid $commentBorder;
}


/////////////// BOOTSTRAP OVERIDES ///////////////

.navbar { @include border-radius(0); border: 0; margin-bottom: 0px; background-color:#EFEFEF;}

/////////////// VOTE PLOT ///////////////

.vote-plot {
	overflow-x: hidden;
	width: 100%;
	height: 250px;
	position: relative;
	.days { 
		position: relative; float: left; border-left: 2px solid white; background-color: $canvassBackground; height: $votePlotHeight;
		&:first-child { border-left: 0px; }
		.label { position: absolute; bottom: 3px; left: 2px; color: #a0a0a0; }
	}
	.votes {
		cursor: pointer;
		position:absolute;
		width: 10px;
		height: 10px;
		z-index: 3;
		top:( ($votePlotHeight / 2 ) - 5);
		transform: translateX(-4px);
		@include border-radius(50%);
		.popup {
			transition: opacity 0.2s linear, color 0.2s linear; 
			opacity: 0;
		    background-color: $menuBackground;
		    color: $fontColour;
		    width: 100px;
		    text-align: center;
		    padding: 10px;
		    font-size: 11px;
		    z-index: 4;
		    top: 19px;
		    position: absolute;
			transform: translateX(-45px);
		    border-radius: 3px;
		    &:after {
			    position: absolute;
				content: '';
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
				border-bottom: 8px solid $menuBackground;
				margin: 0 auto;
				width: 10px;
				top: -4px;
				left: 0;
				right: 0;
		    }
		}
		&:hover .popup { opacity: 1; }
	}
	.division {
		position:absolute;
		margin-top:( ($votePlotHeight / 2 )  - 1 );
		height: 1px;
		width: 100%;
		z-index: 2;
		background-color: $votePlotZeroLine;	
	}
	.yes-bar {
		position:absolute;
		margin-top: 10px;
		height: 75px;
		width: 100%;
		opacity: 0.1;
		z-index: 1;
		background-color:$colour1;	
	}
	.no-bar {
		position:absolute;
		margin-top:( ($votePlotHeight / 2 )  - 1 );
		height: 50px;
		width: 100%;
		opacity: 0.1;
		z-index: 1;
		background-color:$colour2;	
	}
}











