html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%; }

body {
  overflow-y: scroll;
  margin: 0;
  font-size: 14px;
  cursor: default;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  min-height: 100%; }

h1, h2, h3, h4, h5, h6, p, blockquote, figure, ol, ul {
  margin: 0;
  padding: 0; }

li {
  display: block; }

a {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

button {
  cursor: pointer; }

button, input, textarea, select {
  outline: none;
  max-width: 100%; }

iframe {
  max-width: 100%; }

svg {
  display: block; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.clearfix {
  clear: both; }

.left {
  text-align: left; }

.center {
  text-align: center; }

.right {
  text-align: right; }

@font-face {
  font-family: 'brandon_grotesquelight';
  src: url("../fonts/brandon_light-webfont.eot");
  src: url("../fonts/brandon_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_light-webfont.woff2") format("woff2"), url("../fonts/brandon_light-webfont.woff") format("woff"), url("../fonts/brandon_light-webfont.ttf") format("truetype"), url("../fonts/brandon_light-webfont.svg#brandon_grotesquelight") format("svg");
  font-weight: normal;
  font-style: normal; }
.row {
  overflow: auto;
  zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }

.sidebar {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 23.2317613015%;
  margin-bottom: 20px; }
  .sidebar:last-child {
    margin-right: 0; }
  @media screen and (min-width: 768px) {
    .sidebar {
      display: none; } }

.col-1 {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 6.1721527019%; }
  .col-1:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .col-1 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-1:last-child {
        margin-right: 0; } }

.col-2 {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 14.7019570017%; }
  .col-2:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .col-2 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-2:last-child {
        margin-right: 0; } }

.col-3 {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 23.2317613015%; }
  .col-3:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .col-3 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-3:last-child {
        margin-right: 0; } }

.col-4 {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%; }
  .col-4:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .col-4 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-4:last-child {
        margin-right: 0; } }

.col-5 {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 40.2913699012%; }
  .col-5:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .col-5 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-5:last-child {
        margin-right: 0; } }

.col-6 {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%; }
  .col-6:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .col-6 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-6:last-child {
        margin-right: 0; } }

.col-7 {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 57.3509785009%; }
  .col-7:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .col-7 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-7:last-child {
        margin-right: 0; } }

.col-8 {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 65.8807828007%; }
  .col-8:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .col-8 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-8:last-child {
        margin-right: 0; } }

.col-9 {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 74.4105871005%; }
  .col-9:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .col-9 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-9:last-child {
        margin-right: 0; } }

.col-10 {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 82.9403914003%; }
  .col-10:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .col-10 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-10:last-child {
        margin-right: 0; } }

.col-11 {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 91.4701957002%; }
  .col-11:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .col-11 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-11:last-child {
        margin-right: 0; } }

.col-12 {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  .col-12:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .col-12 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-12:last-child {
        margin-right: 0; } }

body {
  background-color: #1A1A1A; }

.app-wrapper {
  margin: 0 auto;
  width: 1280px;
  height: 100%; }

.menu-view {
  height: 100%;
  min-height: 100vh;
  width: 426px;
  position: fixed;
  background-color: #222222; }

.canvass-view {
  min-height: 100vh;
  width: 854px;
  margin-left: 426px;
  background-color: #1E1E1E; }

.content {
  padding-top: 50px; }

.logo {
  height: 20px; }

body {
  font-family: 'brandon_grotesquelight', serif;
  color: #ffffff; }

p {
  margin-bottom: 20px; }

h1 {
  font-weight: 200; }

.margin {
  margin-bottom: 20px; }

.vote-toggle .yes-button {
  background-color: #007985;
  opacity: 0.9; }
  .vote-toggle .yes-button.No {
    padding: 7px 0px;
    color: #007985; }
  .vote-toggle .yes-button:hover {
    opacity: 1; }
.vote-toggle .no-button {
  background-color: #922857;
  opacity: 0.9; }
  .vote-toggle .no-button.Yes {
    padding: 7px 0px;
    color: #922857; }
  .vote-toggle .no-button:hover {
    opacity: 1; }
.vote-toggle .neutral-button {
  background-color: #aaaaaa; }
.vote-toggle .yes-button, .vote-toggle .no-button {
  padding: 7px 29px;
  display: inline-block;
  margin-right: 0px;
  color: white;
  font-size: 21px;
  cursor: pointer;
  transition: padding 0.2s linear, color 0.2s linear; }

.Yes-Background {
  fill: #007985;
  background-color: #007985; }

.No-Background {
  fill: #922857;
  background-color: #922857; }

.Nuetral-Background {
  fill: #aaaaaa;
  background-color: #aaaaaa; }

.canvass {
  overflow: hidden; }
  .canvass .content {
    padding: 0px 77px; }

.comment {
  position: relative; }
  .comment.Yes .user {
    color: #007985; }
  .comment.Yes .level {
    color: #007985; }
  .comment.Yes .vote-colour {
    fill: #007985; }
  .comment.No .user {
    color: #922857; }
  .comment.No .level {
    color: #922857; }
  .comment.No .vote-colour {
    fill: #922857; }
  .comment.Neutral .user {
    color: #aaaaaa; }
  .comment.Neutral .level {
    color: #aaaaaa; }
  .comment.Neutral .vote-colour {
    fill: #aaaaaa; }

.commentWrap {
  background-color: #1E1E1E;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 40px; }

.commentWrap:hover {
  cursor: pointer; }

.commentTitle {
  margin-bottom: 5px; }

.replyArea {
  margin-top: 15px; }

.comment-border {
  border-bottom: 1px solid #3C3C3C; }

.comment-border-left {
  position: absolute;
  height: 100vh;
  top: 0;
  border-left: 1px dashed #222222; }

.comment-menu {
  width: 207px;
  margin: 0 auto;
  overflow: auto;
  zoom: 1; }
  .comment-menu .circle-button {
    cursor: pointer;
    width: 53px;
    height: 53px;
    background-color: #242424;
    border-radius: 50%;
    float: left;
    margin-right: 16px;
    margin-bottom: 20px; }
    .comment-menu .circle-button svg {
      margin: 0 auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%); }

.navbar {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
  margin-bottom: 0px;
  background-color: #EFEFEF; }

.vote-plot {
  overflow-x: hidden;
  width: 100%;
  height: 250px;
  position: relative; }
  .vote-plot .days {
    position: relative;
    float: left;
    border-left: 2px solid white;
    background-color: #1E1E1E;
    height: 250px; }
    .vote-plot .days:first-child {
      border-left: 0px; }
    .vote-plot .days .label {
      position: absolute;
      bottom: 3px;
      left: 2px;
      color: #a0a0a0; }
  .vote-plot .votes {
    cursor: pointer;
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 3;
    top: 120px;
    transform: translateX(-4px);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
    .vote-plot .votes .popup {
      transition: opacity 0.2s linear, color 0.2s linear;
      opacity: 0;
      background-color: #222222;
      color: #ffffff;
      width: 100px;
      text-align: center;
      padding: 10px;
      font-size: 11px;
      z-index: 4;
      top: 19px;
      position: absolute;
      transform: translateX(-45px);
      border-radius: 3px; }
      .vote-plot .votes .popup:after {
        position: absolute;
        content: '';
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #222222;
        margin: 0 auto;
        width: 10px;
        top: -4px;
        left: 0;
        right: 0; }
    .vote-plot .votes:hover .popup {
      opacity: 1; }
  .vote-plot .division {
    position: absolute;
    margin-top: 124px;
    height: 1px;
    width: 100%;
    z-index: 2;
    background-color: #9E9E9E; }
  .vote-plot .yes-bar {
    position: absolute;
    margin-top: 10px;
    height: 75px;
    width: 100%;
    opacity: 0.1;
    z-index: 1;
    background-color: #007985; }
  .vote-plot .no-bar {
    position: absolute;
    margin-top: 124px;
    height: 50px;
    width: 100%;
    opacity: 0.1;
    z-index: 1;
    background-color: #922857; }
