<div class="container content">
	
	<div class="margin">
		<div class="title pull-left">
			<h1>{{ title }}</h1>
		</div>
		<div class="vote-toggle pull-right">
			<div class="yes-button {{ userVote }}" ng-click="userVote = 'Yes'">Yes</div>
			<div class="no-button {{ userVote }}" ng-click="userVote = 'No'">No</div>
		</div>
		<div class="clearfix"></div>
	</div>
	
	<form ng-submit="addComment()">

		<div class="form-group">
			<textarea class="form-control" rows="4" placeholder="Comment" ng-model="userComment"></textarea>
		</div>
		
		<div class="form-group">
			<button type="submit" class="btn btn-default">Add Comment</button>
		</div>
	</form>
	
	<hr class="">
	
	<comment comment="comment" user-vote="userVote" ng-repeat="comment in comments | orderBy:'-level'">
	
	</comment>

</div>